<div class="callout callout--primary">
    <div class="grid grid--2cols">
        <div class="callout__content">
            <h3 class="callout__heading">Ready to Het started?</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus temporibus quibusdam incidunt, quas et commodi possimus ad tempora nostrum ratione!            
            </p>
        </div>
            <div class="button button--secondary button--strech">Get Started</div>
        </div>
    </div>