<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
        <h3 class="collapsible__heading">Item 1</h3>
        <img src="images/chevronDown.svg" alt="chevron down" class="collapsible__icon collapsible__chevron">
    </header>
    <div class="collapsible__content">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod odit maiores ratione facilis. Illum provident porro quaerat voluptas rerum repudiandae!
    </div>
</div>
<script src="js/main.js"></script>