<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Host On The Cloud to Keep Growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aut?</p>
    </header>
    <article class="grid grid--2cols feature">
    <div class="feature__content">
        <img src="images/easy.svg" alt="" class="feature__icon ">
        <h3 class="feature__heading">Super Easy to Use</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui magnam cumque provident veritatis dolor repudiandae beatae blanditiis rerum ex adipisci.</p>
        <a href="#" class="link-arrow">learn more</a>
    </div>
        <div>
            <img src="images/line-graph.webp" alt="charts" class="feature__image">
        </div>    
    </article>
    <article class="grid grid--2cols feature">
        <div class="feature__content">
            <img src="images/easy.svg" alt="" class="feature__icon ">
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui magnam cumque provident veritatis dolor repudiandae beatae blanditiis rerum ex adipisci.</p>
            <a href="#" class="link-arrow">learn more</a>
        </div>
            <div>
                <img src="images/chart.jpg" alt="charts" class="feature__image">
            </div>    
        </article>
        <article class="grid grid--2cols feature">
            <div class="feature__content">
                <img src="images/easy.svg" alt="" class="feature__icon ">
                <h3 class="feature__heading">Super Easy to Use</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui magnam cumque provident veritatis dolor repudiandae beatae blanditiis rerum ex adipisci.</p>
                <a href="#" class="link-arrow">learn more</a>
            </div>
                <div>
                    <img src="images/line_chart.jpg" alt="charts" class="feature__image">
                </div>    
            </article>
</section>