<div class="card testimonial">
    <div class="grid grid--2cols">
        <div class="testimonial__image__container">
            <img class=testimonial__image src="images/happy.jpg" alt="happy face">
            <img class="testimonial__icon" src="images/quote.svg" alt="quote">
        </div>
        <blockquote class="quote">
            <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti soluta quae similique dolore nostrum harum numquam tenetur saepe aliquid incidunt.</p>
            <footer>
                <div>
                <h3 class="quote__author">John Smith</h3>
                <p class="quote__organization">ABC Company</p>
                </div>
            </footer>
        </blockquote>
        </div>
    </div>